.backsecond {background-color: rgb(136, 50, 50); margin: top 60px; border-radius:10px ;}

.form-control-login {width: 100%; height: 35px; font-size: 14px; background-color: rgb(255, 235, 224); border-radius: 5px;}

.h1 {color:rgb(218, 218, 218) ;}

.btn-login {color: darkgray; background-color: rgb(218, 218, 218); border-radius: 4px; margin-top: 10px; margin-left: 25px;}

.checkbox {color: whitesmoke; padding-left: 10px;}